<?xml version="1.0" encoding="utf-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="file" fileName="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}oauth-provider.log" 
                 filePattern="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}oauth-provider-%i.log">
            <PatternLayout pattern="%-5p %d [%t] [event: %X{correlationId}] %c: %m%n" />
            <SizeBasedTriggeringPolicy size="10 MB" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d [%t] [event: %X{correlationId}] %c: %m%n" />
        </Console>
        <Console name="ConsoleLogUtil" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n" />
        </Console>
        <Http name="Splunk" url="http://localhost:8088/services/collector/raw">
            <Property name="Authorization" value="Splunk 03461f7d-293e-4faf-b970-bd9fc04d7689"></Property>
            <PatternLayout pattern="%-5p %d [%t] [event: %X{correlationId}] %c: %m%n"></PatternLayout>
        </Http>
    </Appenders>
    <Loggers>
        <AsyncLogger
            name="org.mule.runtime.core.internal.processor.LoggerMessageProcessor"
            level="INFO" />
        <AsyncLogger name="com.mulesoft.agent" level="INFO" />
        <AsyncLogger name="org.mule.runtime.core.internal.logging"
            additivity="false" level="INFO">
            <AppenderRef ref="ConsoleLogUtil" />
        </AsyncLogger>
 
        <AsyncRoot level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="Splunk" />
        </AsyncRoot>
    </Loggers>
</Configuration>
